<script setup lang="ts">
import { computed, ref } from 'vue'
import {get} from '@/helpers/utils'
import FormResource from '@/components/FormResource.vue'
import { useResourcesStore } from '@/store/resources';

const headers = ref([
  {
    text: 'Type Of Resource',
    value: 'type'
  },
  {
    text: 'Name',
    value: 'name'
  },
  {
    text: 'Description',
    value: 'desc'
  },
  {
    text: 'Status',
    value: 'is_active'
  },
  {
    text: 'Location',
    value: 'location'
  },
  {
    text: 'Cost Of Item',
    value: 'cost'
  },
  {
    text: 'Last Status Checked',
    value: 'last_status_checked'
  },
])

const store = useResourcesStore();

const items = computed(() => {
  // Filter items based on the search query
  return store.items.filter(item => item.name.toLowerCase().includes(search.value.toLowerCase()));
});
const search = ref('')
const dialog = ref(false)

const closeDialog = () => (
  dialog.value = false
)

const openDialog = () => {
  dialog.value = !dialog.value
}
</script>

<template>
  <div>
    <div class="mb-3">
      <h1>List of Office Resources</h1>
    </div>
    <v-card>
      <v-card-title class="d-flex align-center pe-2">  
        <v-text-field
          v-model="search"
          prepend-inner-icon="mdi-magnify"
          density="compact"
          label="Search by name"
          single-line
          flat
          hide-details
          variant="solo-filled"
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="openDialog">Add New</v-btn>

      </v-card-title>
  
      <v-divider></v-divider>
      <v-table>
        <thead>
          <tr>
            <th class="text-left" v-for="header in headers" :key="header.value">
              {{ header.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in items"
            :key="item.name"
          >
            <td
              v-for="header in headers"
              :key="header.value"
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ get(item, header.value) }}
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <v-dialog
      v-model="dialog"
      width="800"
    >
      <v-card>
        <div class="pa-5">
          <FormResource @closeDialog="closeDialog" />
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>