<script setup lang="ts">
import { ref, toRefs, watch } from 'vue';
import {useAlertStore} from '@/store/alert'

type Props = {
  modelValue?: boolean;
  variant?: string;
  timeout: number;
  message: string;
};

const props = withDefaults(defineProps<Props>(), {
  modelValue: false,
  placement: 'bottom-center',
  timeout: 3000,
  message: '',
  variant: 'success',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: boolean): void;
}>();

const { modelValue } = toRefs(props);
const isOpen = ref(modelValue.value);
const timer = ref();
const storeAlert = useAlertStore();

const setAlert = (item: any) => {
  storeAlert.setAlert(item)
}

watch(modelValue, (val) => {
  isOpen.value = val;
  setAlert({
    show: val,
    message: props.message,
    variant: props.variant
  })

  if (props.timeout) {
    clearTimeout(timer.value);
    timer.value = setTimeout(() => {
      isOpen.value = false;
      setAlert({
        show: false,
        message: props.message,
        variant: props.variant
      })
    }, props.timeout);
  }
});

watch(isOpen, (val) => emit('update:modelValue', val));

</script>

<template>
  <transition name="fade" mode="out-in">
    <div v-if="isOpen" class="alert-message">
      <v-alert
        :color="variant"
        :text="message"
        closable
      ></v-alert>
    </div>
  </transition>
</template>

<style>
.alert-message {
  position: fixed;
  z-index: 99;
  right: 1rem;
  top: 1rem;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
</style>