<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import {useResourcesStore} from '@/store/resources'
import {useAlertStore} from '@/store/alert'
import * as yup from 'yup';
import { Form as VeeForm, useForm, Field } from 'vee-validate';

const formData = ref({
  type: '',
  name: '',
  desc: '',
  is_active: false,
  location: '',
  cost: 0,
  last_status_checked: null,
});

const types = ref(['Desk', 'Monitor', 'Room'])
const statuses = ref([
  {
    text: 'Active',
    value: true,
  },
  {
    text: 'Inactive',
    value: false,
  },
])

const emit = defineEmits([
  'closeDialog',
])

const store = useResourcesStore();
const storeAlert = useAlertStore();

const schema = yup.object().shape({
  type: yup.string().required(),
  name: yup.string().required(),
  desc: yup.string().required('Description is a required field.'),
  is_active: yup.boolean().required('Status is a required field.'),
  location: yup.string().required(),
  cost: yup.number().required('Cost of Resources is a required field.'),
  last_status_checked: yup.string().required('Date Checked is a required field.'),
});

onMounted(() => {
})

const {values, handleSubmit, errors, resetForm} = useForm<any>({
  initialValues: formData,
  validationSchema: schema,
});


const onSubmit = (val: any) => {
  const randomValue = Math.random();
  if (randomValue > 0.5) {
    store.addNew(val)
    formData.value = {
      type: '',
      name: '',
      desc: '',
      is_active: false,
      location: '',
      cost: 0,
      last_status_checked: null,
    }
    storeAlert.setAlert({
      show: true,
      message: 'Data berhasil dibuat!',
      variant: 'success'
    })
    emit('closeDialog')
  } else {
    storeAlert.setAlert({
      show: true,
      message: 'Terjadi kesalahan saat mengirim data.',
      variant: 'error'
    })
  }
}
</script>

<template>
  <div>
    <h2>Add New Resource</h2>
    <div class="shadow p-5 rounded-lg bg-white mt-5 border-top-primary border-t-4">
      <VeeForm v-slot="{ handleSubmit }" :validation-schema="schema" as="div">
        <form>
          <Field
            v-slot="{field, errors}"
            name="type"
            id="type"
          >
            <v-select
              v-bind="field"
              :items="types"
              label="Type of Resource"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-select>
          </Field>
          <Field
            v-slot="{field, errors}"
            name="name"
            id="name"
          >
            <v-text-field
              v-bind="field"
              label="Name"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-text-field>
          </Field>
          <Field
            v-slot="{field, errors}"
            name="desc"
            id="desc"
          >
            <v-text-field
              v-bind="field"
              label="Description"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-text-field>
          </Field>
          <Field
            v-slot="{field, errors}"
            name="is_active"
            id="is_active"
          >
            <v-select
              v-bind="field"
              :items="statuses"
              item-title="text"
              item-value="value"
              label="Status"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-select>
          </Field>
          <Field
            v-slot="{field, errors}"
            name="location"
            id="location"
          >
            <v-text-field
              v-bind="field"
              label="Location"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-text-field>
          </Field>
          <Field
            v-slot="{field, errors}"
            name="cost"
            id="cost"
          >
            <v-text-field
              v-bind="field"
              label="Cost of Resource"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-text-field>
          </Field>
          <Field
            v-slot="{field, errors}"
            name="last_status_checked"
            id="last_status_checked"
          >
            <v-text-field
              v-bind="field"
              label="Last Status Checked"
              variant="underlined"
              :error-messages="errors[0]"
            ></v-text-field>
          </Field>
          <div class="mt-4">
            <v-btn
              @click="handleSubmit($event, onSubmit)"
              color="primary"
            >
              Submit
            </v-btn>
          </div>
        </form>
      </VeeForm>
    </div>
  </div>
</template>