<script setup lang="ts">
import { computed} from "vue";
import Alert from '@/components/Alert.vue'
import {useAlertStore} from '@/store/alert'

const store = useAlertStore();
const isOpen = computed(() => store.alertItem.show);
const message = computed(() => store.alertItem.message);
const variant = computed(() => store.alertItem.variant);
</script>

<template>
  <Alert v-model="isOpen" :message="message" :variant="variant"></Alert>
  <router-view></router-view>
</template>

<script setup lang="ts">
</script>
