<script setup lang="ts">
import {ref} from 'vue'
import * as yup from 'yup';
import { Form as VeeForm, useForm, Field } from 'vee-validate';
import { useAuthStore } from '@/store'
import { useRouter } from 'vue-router'

const store = useAuthStore()
const router = useRouter()

const loading = ref(false)
const formData = ref({
  email: '',
  password: '',
});

const schema = yup.object().shape({
  email: yup.string().email().required(),
  password: yup.string().required(),
});

const {values, handleSubmit, errors, resetForm} = useForm<any>({
  initialValues: formData,
  validationSchema: schema,
});

const onSubmit = (val: any) => {
  store.login({
    name: 'Admin',
    email: val.email
  })
  loading.value = true
  setTimeout(() => {
    loading.value = false
    router.push('/')
  }, 1000)
}
</script>

<template>
  <v-sheet class="d-flex justify-center bg-grey-lighten-5 pa-12 h-screen">
    <v-card class="h-auto px-6 py-8 align-self-center" width="500" max-height="500" rounded>
      <VeeForm v-slot="{ handleSubmit }" :validation-schema="schema" @submit.prevent="onSubmit" as="div">
        <h1 class="mb-3">Login</h1>
        <Field
          v-slot="{field, errors}"
          name="email"
          id="email"
        >
          <v-text-field
            v-bind="field"
            :readonly="loading"
            :error-messages="errors[0]"
            class="mb-2"
            clearable
            name="email"
            id="email"
            label="Email"
          ></v-text-field>
        </Field>
        <Field
          v-slot="{field, errors}"
          name="password"
          id="password"
        >
          <v-text-field
            v-bind="field"
            :readonly="loading"
            :error-messages="errors[0]"
            class="mb-2"
            clearable
            name="password"
            type="password"
            id="password"
            label="Password"
          ></v-text-field>
        </Field>
        <v-btn
          :loading="loading"
          @click="handleSubmit($event, onSubmit)"
          block
          color="success"
          size="large"
          type="submit"
          variant="elevated"
        >
          Sign In
        </v-btn>
      </VeeForm>
    </v-card>
  </v-sheet>
</template>