
<script setup lang="ts">
import { useRouter } from 'vue-router'
import { useAuthStore } from '@/store'

const router = useRouter();
const auth = useAuthStore()

const logout = async () => {
  auth.logout()
  router.push('/login')
}
</script>

<template>
  <v-card>
    <v-layout>
      <!-- <v-system-bar color="deep-purple darken-3"></v-system-bar> -->

      <v-app-bar
        color="primary"
        prominent
      >
        <v-toolbar-title>HR Net Rimbun</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn variant="text" icon="mdi-logout" @click="logout"></v-btn>
      </v-app-bar>
    </v-layout>
  </v-card>
  <div class="mt-16 mx-10 py-8">
    <router-view />
  </div>
</template>